@media (max-width: 767px) {
    .stm-car-compare-row .compare-title {
        text-align: left;
    }
}

.stm-car-compare-row .listing-car-item-meta .price .regular-price {
    color: var(--motors-contrast-text-alpha-color);
}

.stm-car-compare-row .listing-car-item-meta .price .sale-price {
    color: var(--motors-contrast-text-color);
    font-weight: 700;
}

@media (max-width: 645px) {
    .elementor-widget-motors-listings-compare {
        overflow: auto;
    }
}

.stm-compare-cars-module {
    min-width: 600px;
}

.stm-compare-cars-module .compare-col-stm-empty .image .stm-icon-add-car-wrapper {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 15;
}

.stm-compare-cars-module .compare-col-stm-empty .image .stm-icon-add-car-wrapper i {
    position: relative;
    top: unset;
    left: unset;
    margin: unset;
}

@media (max-width: 767px) {
    .stm-compare-cars-module table > tbody tr td {
        font-size: 11px;
    }
}