a.motors-profile-button {
    display: flex;
    align-items: center;
    color: var(--motors-text-color);
    justify-content: center;
}

a.motors-profile-button:hover {
    color: var(--motors-text-color);
    cursor: pointer;
}

a.motors-profile-button .profile-icon-wrapper {
    font-size: 23px;
    margin-right: 10px;
    color: var(--motors-text-color);
}

a.motors-profile-button span {
    font-size: 14px;
    font-weight: 500;
    color: var(--motors-text-color);
}

.elementor-widget-motors-profile-button {
    z-index: 1;
}

.lOffer-account-dropdown {
    position: absolute;
    top: 110%;
    padding: 21px 15px 0px 30px;
    background-color: var(--motors-bg-color);
    width: 215px;
    margin: 14px 0 0 -94px;
    opacity: 0;
    visibility: hidden;
    box-shadow: -1px 2px 10px var(--motors-bg-lowalpha-contrast);
}

.lOffer-account-dropdown::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-bottom: 5px solid var(--motors-bg-color);
}

.lOffer-account-dropdown .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    top: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--motors-bg-shade);
    border-radius: 2px;
    text-decoration: none !important;
    transition: 0.2s;
}

.lOffer-account-dropdown .settings i {
    color: var(--motors-text-color);
}

.lOffer-account-dropdown .settings:hover {
    background-color: var(--motors-accent-color);
}

.lOffer-account-dropdown .settings:hover i {
    color: var(--motors-contrast-text-color);
}

.lOffer-account-dropdown .name {
    margin-bottom: 12px;
    padding-right: 37px;
}

.lOffer-account-dropdown .name a {
    color: var(--motors-text-color);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.lOffer-account-dropdown .name a:hover {
    color: var(--motors-accent-color);
}

.lOffer-account-dropdown .account-list {
    padding: 0;
    margin: 0 0 14px;
    list-style: none;
}

.lOffer-account-dropdown .account-list li {
    margin-bottom: 8px;
}

.lOffer-account-dropdown .account-list li a {
    display: block;
    line-height: 26px;
    font-size: 13px;
    color: var(--motors-text-color);
    text-decoration: none !important;
    transition: 0.2s;
}

.lOffer-account-dropdown .account-list li a:hover {
    color: var(--motors-accent-color);
}

.lOffer-account-dropdown .logout {
    display: block;
    margin: 0 -15px 0 -30px;
    padding: 10px 15px 10px 30px;
    background-color: var(--motors-bg-shade);
    color: var(--motors-text-color);
    opacity: 0.7;
    font-size: 13px;
    text-decoration: none !important;
    transition: 0.2s;
}

.lOffer-account-dropdown .logout i {
    margin-right: 5px;
}

.lOffer-account-dropdown .logout:hover {
    background-color: var(--motors-accent-color);
    color: var(--motors-contrast-text-color);
    opacity: 1;
}

.lOffer-account-dropdown.stm-login-form-unregistered {
    width: 320px;
    padding: 25px 20px 25px 20px;
}

.lOffer-account-dropdown.stm-login-form-unregistered .stm-listing-loader {
    display: none;
}

.lOffer-account-dropdown.stm-login-form-unregistered h4 {
    margin-bottom: 14px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.lOffer-account-dropdown.stm-login-form-unregistered form .stm-listing-loader {
    display: none;
    justify-content: center;
    margin-top: 10px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .stm-listing-loader i {
    display: inline-block;
    animation: spin 1s linear infinite;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .stm-listing-loader.visible {
    display: flex;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=submit] {
    display: block;
    width: 100%;
    max-width: unset;
    background-color: var(--motors-accent-color);
    box-shadow: none;
    outline: none;
    border: 1px solid var(--motors-accent-color);
    text-transform: none;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=submit]:focus, .lOffer-account-dropdown.stm-login-form-unregistered form input[type=submit]:active, .lOffer-account-dropdown.stm-login-form-unregistered form input[type=submit]:hover {
    color: var(--motors-accent-color);
    background-color: transparent;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .form-checker label {
    display: flex;
    justify-content: space-between;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .form-checker label span {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--motors-text-color);
    cursor: pointer;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .form-checker label span:hover {
    color: var(--motors-accent-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered form .form-checker label span a {
    color: var(--motors-accent-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered form .form-checker label span a:hover {
    text-decoration: underline;
    color: var(--motors-text-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered form h4 {
    font-size: 14px;
    font-weight: 500;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input {
    background-color: var(--motors-filter-inputs-color);
    border: 1px solid var(--motors-border-color);
    border-radius: 0;
    outline: none;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input:not([type=submit])::-webkit-input-placeholder {
    font-size: 14px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input:focus {
    border-color: var(--motors-accent-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=submit]:active, .lOffer-account-dropdown.stm-login-form-unregistered form input[type=submit]:focus {
    opacity: 1;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=checkbox] {
    opacity: 1;
    -moz-appearance: auto;
    appearance: auto;
    -webkit-appearance: auto;
    margin-right: 5px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=checkbox] {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid var(--motors-border-color);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=checkbox]:checked {
    background-color: var(--motors-accent-color);
    border-color: var(--motors-accent-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered form input[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 3px;
    width: 5px;
    height: 7px;
    border: solid var(--motors-contrast-text-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.lOffer-account-dropdown.stm-login-form-unregistered form input::-moz-placeholder {
    color: var(--motors-text-alpha-color);
    opacity: 1;
    font-size: 14px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input::placeholder {
    color: var(--motors-text-alpha-color);
    opacity: 1;
    font-size: 14px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input:-ms-input-placeholder {
    color: var(--motors-text-alpha-color);
    font-size: 14px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form input::-ms-input-placeholder {
    color: var(--motors-text-alpha-color);
    font-size: 14px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .mvl-sign-in-forgot-pass {
    font-size: 13px;
    color: var(--motors-text-alpha-color);
    margin-top: 15px;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .mvl-sign-in-forgot-pass a {
    color: var(--motors-accent-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered form .mvl-sign-in-forgot-pass a:hover {
    color: var(--motors-text-color);
    text-decoration: underline;
}

.lOffer-account-dropdown.stm-login-form-unregistered form .stm-message-ajax-validation {
    padding: 10px 15px;
    background-color: var(--motors-bg-contrast);
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    color: var(--motors-contrast-text-color);
    font-size: 14px;
}

.lOffer-account-dropdown.stm-login-form-unregistered .stm_forgot_password_send input[type=text] {
    margin-bottom: 25px;
}

.lOffer-account-dropdown.stm-login-form-unregistered .stm_forgot_password_send .form-group {
    position: relative;
}

.lOffer-account-dropdown.stm-login-form-unregistered .stm_forgot_password_send .form-group .stm-forgot-password-back {
    position: absolute;
    right: 5px;
    top: 1px;
    color: var(--motors-accent-color);
}

.lOffer-account-dropdown.stm-login-form-unregistered .stm_forgot_password_send .form-group .stm-forgot-password-back i {
    transform: rotate(-90deg);
}

.lOffer-account-dropdown.stm-login-form-unregistered .motors-socials-head .motors-socials-head-text {
    margin-top: 20px;
    margin-bottom: 15px;
}