.mvl-email-container {
    background-color: #fff;
    max-width: 700px;
    box-shadow: 0px 8px 13px -3px rgba(51, 61, 76, 0.15);
    overflow: hidden;
    background-color: var(--mvl-bg-color);
    background-image: var(--mvl-bg-image);
    font-family: var(--mvl-font-family);
}

.mvl-email-container[data-style=modern] .mvl-email-header {
    background-color: var(--mvl-header-bg-color);
    min-width: 100%;
    max-width: none;
    padding: 35px 45px;
    border-radius: 0 0 140% 140%;
    max-height: none;
    margin: 0 -30px;
}

.mvl-email-container[data-style=modern] .mvl-email-body {
    padding-top: 35px;
}

.mvl-email-container[data-style=modern] .mvl-email-heading {
    color: #FFF;
    margin: 20px 0 0;
    padding: 20px 0 0;
    flex: 1;
    border-top: 1px solid #56637A;
}

@media (min-width: 768px) {
    .mvl-email-container[data-style=modern] .mvl-email-heading {
        padding: 30px 0 0;
        margin: 30px 0 0;
    }
}

.mvl-email-container * {
    box-sizing: border-box;
    font-family: var(--mvl-font-family);
}

.mvl-email-header {
    min-height: 96px;
    max-height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    background-color: var(--mvl-header-bg-color);
    background-image: var(--mvl-header-bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mvl-email-header-logo {
    max-height: 45px;
    min-height: 45px;
    min-width: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
}

.mvl-email-body {
    padding: 30px 15px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .mvl-email-body {
        padding: 50px 15px;
    }
}

.mvl-email-body > * {
    max-width: 430px;
}

.mvl-email-heading {
    font-size: 18px;
    font-weight: 700;
    color: var(--mvl-text-color);
    text-align: center;
    margin: 0 auto 24px;
    display: block;
    max-width: 428px;
}

@media (min-width: 768px) {
    .mvl-email-heading {
        font-size: 24px;
    }
}

.mvl-email-content {
    color: var(--mvl-text-color);
    font-size: 16px;
    line-height: 1.7em;
    display: block;
    max-width: 428px;
    margin: 0 auto;
}

.mvl-email-content a:not(.mvl-email-button) {
    color: var(--mvl-accent-color);
}

.mvl-email-button {
    display: table;
    padding: 0 24px;
    background-color: var(--mvl-accent-color);
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 24px auto;
    transition: 0.2s;
    text-decoration: none;
}

@media (min-width: 768px) {
    .mvl-email-button {
        width: auto;
        margin: 30px auto 0;
    }
}

.mvl-email-button:hover {
    opacity: 0.75;
}

.mvl-email-footer {
    text-align: center;
    font-size: 13px;
    margin: 24px 0 0;
    padding: 32px 0 0;
    border-top: 1px solid #DBE0E9;
    display: block;
    max-width: 428px;
}

@media (min-width: 768px) {
    .mvl-email-footer {
        margin: 50px auto 0;
        padding: 42px auto 0;
    }
}

.mvl-email-footer-text {
    margin: 0 auto 20px;
    display: block;
    font-size: 14px;
    max-width: 428px;
    color: var(--mvl-text-color);
}

@media (min-width: 768px) {
    .mvl-email-footer-text {
        margin: 0 auto 34px;
    }
}

.mvl-email-footer-caption {
    max-width: 428px;
    margin: 0 auto;
    color: var(--mvl-text-color);
}