#elementor-panel-content-wrapper #elementor-panel-category-motors .elementor-element:hover .elementor-element-title-wrapper .title,
#elementor-panel-content-wrapper #elementor-panel-category-motors_single .elementor-element:hover .elementor-element-title-wrapper .title,
#elementor-panel-content-wrapper #elementor-panel-page-elements #elementor-panel-elements-wrapper #elementor-panel-elements i[class^="stmew-"]:before,
#elementor-panel-content-wrapper #elementor-panel-page-elements #elementor-panel-elements-wrapper #elementor-panel-elements i.eicons-motors:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors i[class^="stmew-"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_single i[class^="stmew-"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_classified i[class^="stmew-"]:before {
	color: #cc6119 !important;
}

#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="stmew-"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-form-horizontal"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-posts-grid"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-navigation-horizontal"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-info-circle-o"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-plus-circle-o"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-price-table"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_rental i[class^="eicon-checkout"]:before,
#elementor-panel-content-wrapper #elementor-panel-category-motors_classified i[class^="stmew-"]:before {
	color: #cc6119 !important;
}


.elementor-panel .elementor-element .icon .mvl-icon-color {
	color: #cc6119 !important;
}

#elementor-panel-content-wrapper #elementor-panel-category-stylemixthemes .elementor-element:hover .elementor-element-title-wrapper .title,
#elementor-panel-content-wrapper #elementor-panel-category-stylemixthemes i[class^="stmew-"]:before {
	color: #4cbeb5 !important;
}

.elementor-control-lat input[type="number"],
.elementor-control-lng input[type="number"] {
	width: 100% !important;
}

[id*="__option_disabled"] {
	cursor: not-allowed !important;
	pointer-events: none !important;
	display: flex;
	padding: 3px 0 0 0;

	&:before {
		content: 'PRO' !important;
		display: inline-block;
		padding: 4px;
		font-size: 9px;
		line-height: 9px;
		letter-spacing: .3px;
		color: #fff !important;
		background-color: #195ec7;
		border-radius: 3px;
		-webkit-transform: skewX(-13deg);
		transform: skewX(-13deg);
		margin: -3px 5px 0 0;
	}

	&:after {
		content: '';
		display: inline-block;
		width: 15px;
		height: 15px;
		background-image: url('../../images/lock-black.svg');
		background-size: contain;
		background-repeat: no-repeat;
		margin: -3px 0 0 auto;
	}
}