body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .wpcfto_data_select label.wpcfto_data_select__label {
    width: 33.33%;
}

body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .wpcfto_data_select label.wpcfto_data_select__label .wpcfto_data_select__img {
    border-radius: 8px;
}

body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .wpcfto_data_select label.wpcfto_data_select__label .wpcfto_data_select__img img {
    height: 430px;
    transform: translateZ(0);
}

body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .listing_settings-list_card_skin .wpcfto_data_select {
    flex-direction: column;
}

body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .listing_settings-list_card_skin .wpcfto_data_select label.wpcfto_data_select__label {
    width: 100%;
}

body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .listing_settings-list_card_skin .wpcfto_data_select label.wpcfto_data_select__label .wpcfto_data_select__img {
    border-radius: 10px;
}

body div.stm_metaboxes_grid__inner .listing_settings_listing-info-card .listing_settings-list_card_skin .wpcfto_data_select label.wpcfto_data_select__label .wpcfto_data_select__img img {
    width: auto;
    height: auto;
    transform: translateZ(0);
    -o-object-fit: contain;
    object-fit: contain;
}